{{#each books as |book|}}
<!--
books was defined as key in function as parameter in showBooksTemplate
handlebars only takes one parameter -->

  <div
  data-id="{{book.id}}">
  <hr>
    <p> Title: {{book.title}} </p>
      <p> Author: {{book.author}} </p>
      <p> ISBN: {{book.isbn}} </p>
      <p> Price: {{book.price}} </p>
  <button class='remove' type="button" class="btn btn-primary" data-toggle="modal" data-target="#destroyModal"
  > REMOVE </button>
  <button class='edit-lit-button' type="button" class="btn btn-primary" data-toggle="modal" data-target="#editLitModal">
EDIT
</button>
   <hr>

{{/each}}
